.avatar {
  position: absolute;
  overflow: hidden;
  z-index: -2;
  transition: all 1s ease; 
}

.avatar.about {
  /* height: 100vh;
  bottom: -8vh;
  left: 50%;
  transform: translateX(-50%); */
  animation: move-diagonal-1 1.5s ease forwards;
}

@keyframes move-diagonal {
  0% {
    height: 100vh;
    bottom: -8vh;
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
  height: 150vh;
  bottom: -60vh;
  left: 1rem;  /* move down */
  }
}

@keyframes move-diagonal-1 {
  0% {
    height: 150vh;
  bottom: -60vh;
  left: 1rem;
  }
  100% {
    height: 100vh;
    bottom: -8vh;
    left: 50%;
    transform: translateX(-50%);
  }
}
.avatar.skills {
   animation: move-diagonal 1.5s ease forwards;
}


.shadow-overlay-skills {
  height: 100vh;
  width: 100vh;
  display: block;
  position: fixed;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.25),
    rgba(255, 255, 255, 0)
  );
  z-index: -1;
}

@media (max-width: 1100px) {
  .avatar.skills {
    z-index: -5;
    height: 95vh;
    bottom: -15vh;
  }
}

@media (max-width: 700px) {
  .avatar.about {
    z-index: -5;
    height: 95vh;
    bottom: -15vh;
  }
}
